<div class="new_post">
  <h2>New post</h2>
  <%= form_for :post, url: posts_path do |f| %>
  <div class="input required">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>
  <div class="input required">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
