<head>
  <script>
  $(function() {
    $( "input[type=submit], a, button" )
      .button()
      .click(function( event ) {
        event.preventDefault();
      });
  });
  </script>
</head>


<div class="container">
  <div class="posts-container">

    <%= render @post %>
  </div>
</div>

<div class="links">
  <% if current_admin %>
    <%= link_to "Edit", edit_post_path( @post ) %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>

<div class="container">
  <div class="posts-container">
    <h2>Comments</h2>
    <% @post.comments.each do |comment| %>
    <p>
      <%= image_tag(@user.avatar.url, :width => 75, :height => 75, :crop => :fill, class: "img-circle") %>
      <b>Commenter:</b>
      <%= current_user.email %>
      <b>Comment:</b>
      <%= comment.text %>

    </p>
    <% end %>

<% if current_user %>
<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% else %>
<p><%= link_to "Log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to comment</p>
<% end %>
